<% include templates/header2.ejs %>
<div class="container container-display">
    <div class="row">
        <div class="col-12">
            <h1>
                Amazon Teckathon
            </h1>
            <button class="btn btn-reg" onclick="location.href='https://www.amazonteckathon.com/'">Register Now!</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <div class="jumbotron jumbotron-fluid background-img text-center" style="background-color: #f8f8f8">
                <img src="https://scontent.famm7-1.fna.fbcdn.net/v/t1.0-9/p960x960/116212784_3287630987985190_3271211453277420955_o.png?_nc_cat=103&_nc_sid=2d5d41&_nc_ohc=ujXJfuevmR4AX8KDvJK&_nc_ht=scontent.famm7-1.fna&oh=15a6dfe28f16f7ea34bbb479d9a9031e&oe=5F88B5B1" style="object-fit: fill"></img>
            </div>
        </div>
    </div>
    <div class="row cards">
        <div class="col-12">
            <div class="card">
                <h4 class="card-header">
                    <i class="far fa-file-alt">
                    </i>
                    Information
                </h4>
                <div class="card-body">
                    <h6 class="card-text">
                        <i class="fa fa-clock">
                        </i>
                        Time:
                    </h6>
                    <p>
                        Sept 14th - Sept 16th 2020
                    </p>
                    <br>
                    <h6 class="card-text">
                        <i class="fas fa-search-location">
                        </i>
                        Place:
                    </h6>
                    <p>
                        Remotely
                    </p>
                    <br>
                    <h6 class="card-text">
                        <i class="fas fa-info-circle">
                        </i>
                        Description:
                    </h6>
                    <p>
                        Amazon Teckathon for university students in Jordan is an event challenging participants to come up with creative and high-tech based solutions to improve the lives of ordinary people.
                        The first event of its kind by the Amazon team in Jordan, students in universities across Jordan will take part in a 3-day marathon of building, coding and designing as they prepare to present their software based solutions.
                    </p>
                    </br>
                    </br>
                </div>
            </div>
        </div>
    </div>
    <div class="row cards">
        <div class="col-12">
            <div class="card">
                <h4 class="card-header">
                    <i class="far fa-comments">
                    </i>
                    Comments
                </h4>
                <div class="card-body">
                    <blockquote>
                        <p>
                            Will we get any goodies?
                        </p>
                        <footer class="blockquote-footer">
                            <a href="#">Leen10</a>
                        </footer>
                    </blockquote>
                    <hr>
                    <blockquote>
                        <p>
                            Can our solution be a mobile application?
                        </p>
                        <footer class="blockquote-footer">
                            <a href="/profile/Ahmad_osama">Ahmad_osama</a>
                        </footer>
                    </blockquote>
                    <hr>
                    <blockquote>
                        <p>
                            So Excited!!!
                        </p>
                        <footer class="blockquote-footer">
                            <a href="#">Mohammad_kurdi</a>
                        </footer>
                    </blockquote>
                    </hr>
                    </hr>
                </div>
            </div>
        </div>
    </div>
    </hr>
</div>
</body>
</html>