<% include templates/header.ejs %>

<div class="categories">
    <figure>
        <a href="events.html">
            <img src="images/entrepreneurship.jpg" alt="technology" class="event_image">
            <figcaption>Entrepreneurship</figcaption>
        </a>
    </figure>

    <figure>
        <a href="events.html">
            <img src="images/technology.jpg" alt="technology" class="event_image">
            <figcaption>Technology</figcaption>
        </a>
    </figure>
    <figure>
        <a href="events.html">
            <img src="images/marathon.jpg" alt="marathon" class="event_image">
            <figcaption>Marathons</figcaption>
        </a>
    </figure>
    <figure>
        <img src="images/mamoon.jpg" alt="mamoon" class="event_image">
        <figcaption>Mamoon</figcaption>
    </figure>
</div>
<% include templates/footer %>