<% include templates/header.ejs %>
<div class="container">
    <div>
        <img src="https://i.guim.co.uk/img/media/ad98f2dc808f18131e35e59c05ba6212671e8227/94_0_3061_1838/master/3061.jpg?width=1200&quality=85&auto=format&fit=max&s=fe0f9ee06af06c3c9f4b88c6dfd87b7b"
            alt="concert" id="event_picture">
    </div>
    <div class="event_description">
        <h1 class="description_title">Description</h1>
        <p class="event_description_text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, impedit. Fugiat, harum neque fugit
            veniam
            aperiam cupiditate adipisci temporibus veritatis animi assumenda nesciunt, dolorum hic illo omnis odio
            quidem. Maiores.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus beatae autem officiis, cum minus
            culpa
            praesentium in. Molestiae, aspernatur. Quod, molestias praesentium dolorum alias sit fugiat corporis rem
            at
            laborum?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga inventore vel suscipit quod quos eligendi.
            Atque reprehenderit repudiandae tempora excepturi saepe quos harum eveniet, dicta obcaecati, iure neque
            quis
            possimus?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ipsa non in labore aperiam
            voluptates,
            facilis, deleniti veniam modi et laboriosam mollitia. Odit quasi doloribus ea alias doloremque deleniti?
            Perspiciatis!
        </p>
    </div>
    <div class="event_description">
        <h1 class="description_title">Something Else</h1>
        <p class="event_description_text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, impedit. Fugiat, harum neque fugit
            veniam
            aperiam cupiditate adipisci temporibus veritatis animi assumenda nesciunt, dolorum hic illo omnis odio
            quidem. Maiores.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus beatae autem officiis, cum minus
            culpa
            praesentium in. Molestiae, aspernatur. Quod, molestias praesentium dolorum alias sit fugiat corporis rem
            at
            laborum?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga inventore vel suscipit quod quos eligendi.
            Atque reprehenderit repudiandae tempora excepturi saepe quos harum eveniet, dicta obcaecati, iure neque
            quis
            possimus?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ipsa non in labore aperiam
            voluptates,
            facilis, deleniti veniam modi et laboriosam mollitia. Odit quasi doloribus ea alias doloremque deleniti?
            Perspiciatis!
        </p>
    </div>
    <div class="event_description">
        <h1 class="description_title">One last thing</h1>
        <p class="event_description_text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, impedit. Fugiat, harum neque fugit
            veniam
            aperiam cupiditate adipisci temporibus veritatis animi assumenda nesciunt, dolorum hic illo omnis odio
            quidem. Maiores.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus beatae autem officiis, cum minus
            culpa
            praesentium in. Molestiae, aspernatur. Quod, molestias praesentium dolorum alias sit fugiat corporis rem
            at
            laborum?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga inventore vel suscipit quod quos eligendi.
            Atque reprehenderit repudiandae tempora excepturi saepe quos harum eveniet, dicta obcaecati, iure neque
            quis
            possimus?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ipsa non in labore aperiam
            voluptates,
            facilis, deleniti veniam modi et laboriosam mollitia. Odit quasi doloribus ea alias doloremque deleniti?
            Perspiciatis!
        </p>
    </div>
</div>
<% include templates/footer %>