<% include templates/header.ejs %>
<div class="container">
            <img src="images/logo.png" id="logo" alt="logo">
            <nav>
                <ul>
                    <li><a href="events.html">Events</a></li>
                    <li><a href="account.html">Account</a></li>
                    <li><a href="forum.html">Forum</a></li>
                </ul>
            </nav>
        </div>
    </header>



    <div class="categories" id="mainwrapper">
        <figure>
            <a href="event_pages/entrepreneurship.html" target="_blank">
                <img src="images/entrepreneurship.jpg" alt="technology" class="event_image">
                <figcaption>Entrepreneurship</figcaption>
            </a>
        </figure>

        <figure>
            <a href="event_pages/tech.html" target="_blank">
                <img src="images/technology.jpg" alt="technology" class="event_image">
                <figcaption>Technology</figcaption>
            </a>
        </figure>
        <figure>
            <a href="event_pages/marathon.html" target="_blank">
                <img src="images/marathon.jpg" alt="marathon" class="event_image">
                <figcaption>Marathons</figcaption>
            </a>
        </figure>
        <figure>
            <img src="images/mamoon.jpg" alt="mamoon" class="event_image">
            <figcaption>Mamoon</figcaption>
        </figure>
    </div>


<% include templates/footer %>