<% include templates/header2.ejs %>

<div class="container">
    <div class="row" style="margin-top: 40px">
        <% for(let i = 0;i<categories.length;++i){%>
        <div class="col-4" >
            <div class="card" style="width: 18rem;height: 12rem!important;box-shadow: 0 0 45px 0 rgba(0,0,0,.25);margin-bottom: 250px">
                <img class="card-img-top" src="<%= categories[i].category_image %>" alt="Card image cap">
                <div class="card-body" style="margin-bottom: 30px">
                    <h5 class="card-title"><%= categories[i].category_name %></h5>
                    <p class="card-text">  <%= categories[i].description %></p>
                    <a href="/event/<%= categories[i].category_id%>" class="btn btn-primary">View Events</a>
                </div>
            </div>
        </div>
        <%}%>
    </div>
</div>