<% include templates/header2.ejs %>

<div class="container container-display">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content">
                <div class="card" style="margin-top:4%;;background-color: #37474f!important; color: white">
                    <div class="card-body" style="background-color:#37474f ">
                        <div style="font-size: 20px;"><i class="fa fa-globe" style="padding: 10px" > </i>Welcome to LinkJo Forums!</div>
                    </div>
                </div>
                <div class="container">
                    <div class="forum-title">
                        General Posts
                    <div class="forum-item">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="forum-icon"><i class="fa fa-question-circle"></i></div>
                                <a class="forum-item-title" href="#">General Q&A</a>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="post-number">20</span>
                                <div><small>posts</small></div>
                            </div>
                        </div>
                    </div>
                    <div class="forum-item">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="forum-icon"><i class="fa fa-comments"></i></div>
                                <a class="forum-item-title" href="#">Ask for Advice</a>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="post-number">10</span>
                                <div><small>posts</small></div>
                            </div>
                        </div>
                    </div>
                    <div class="forum-item">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="forum-icon"><i class="fa fa-bolt"></i></div>
                                <a class="forum-item-title" href="#">Introduce yourself</a>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="post-number">6</span>
                                <div><small>posts</small></div>
                            </div>
                        </div>
                    </div>
                 </div>
                <div class="forum-title">
                    Technology
                <div class="forum-item">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="forum-icon"><i class="fa fa-trophy"></i></div>
                            <a class="forum-item-title" href="#">Competitions</a>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="post-number">7</span>
                            <div><small>posts</small></div>
                        </div>
                    </div>
                </div>
                <div class="forum-item">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="forum-icon"><i class="fa fa-users"></i></div>
                            <a class="forum-item-title" href="#">Conferences</a>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="post-number">10</span>
                            <div><small>posts</small></div>
                        </div>
                    </div>
                </div>
                <div class="forum-item">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="forum-icon"><i class="fa fa-briefcase"></i></div>
                            <a class="forum-item-title" href="#">Jobs</a>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="post-number">20</span>
                            <div><small>posts</small></div>
                        </div>
                    </div>
                </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>


<style>
    .forum-title{
        margin: 18px 0;
        font-weight: 700;
        font-size: 19px;
    }
    .forum-item{
        margin: 10px 0;
        padding: 10px 0 20px;
        border-bottom: 1px solid black;
    }
    .forum-icon{
        float: left;
        width: 30px;
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 18px;
    }
    .forum-item-title{
        font-size: 18px;
        font-weight: 500;
        color: black;!important;
    }
    .forum-info{
        text-align: center;
    }
    .post-number{
        font-size: 20px;
        font-weight: 400;
    }
</style>
<% include templates/footer %>