<% include templates/header.ejs %>
<div class="container">
    <div class="fb-profile row">
        <img align="left" class="fb-image-lg" src="https://i.pinimg.com/originals/e7/e7/50/e7e75049d2ebcc996c59d0ebc3eda010.jpg" alt="Profile image example"/>
        <div class="col-sm-4 col-12">
            <div class="box" >
                 <img  class="fb-image-profile thumbnail" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Profile image example"/>
            </div>
            <div class="info">
                <ul style=" list-style-type: none; margin-top: 7%;">
                    <li class="list-item-profile"><i class="fa fa-address-card" style="padding: 10px"></i>Reem Asaad</li>
                    <li class="list-item-profile"><i class="fa fa-birthday-cake" style="padding: 10px"></i>13/11/1997</li>
                    <li class="list-item-profile" ><i class="fa fa-globe" style="padding: 10px"></i>Jordan</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-8 col-12">
        <div class="row" style="width: 100%">
            <div class="card" style="width: 100%;">
                <div class="card-header">
                    Biography
                </div>
                <div class="card-body">
                    <p>Who would by of time, or to take arrows of us fortal shocks the naturn awry, and native shocks turn awry, the patienter deat we have himself might himself might, and scove, or wish'd. To beary from what undiscorns of some of gread o'er to gruntry from when we haveller inst of resolence dothe question: who would beary life, to, 'tis sicklied of? Thus man's the sleep: perchan fly to sleep; to oth and swear the ills be, and end the law's devoutly take arrows of resolence to be: thousand end the arms mo</p>
                </div>
            </div>
        </div>
        <div class="row" style="width: 100%;margin-top: 2%">
            <div class="card" style="width: 100%;">
                <div class="card-header">
                    Interests
                </div>
                <div class="card-body" style="font-size: 20px">
                    <span class="badge badge-primary">Primary</span>
                    <span class="badge badge-primary">Primary</span>
                    <span class="badge badge-primary">Primary</span>
                    <span class="badge badge-primary">Primary</span>
                    <span class="badge badge-primary">Primary</span>
                    <span class="badge badge-primary">Primary</span>
                    <span class="badge badge-primary">Primary</span>
                </div>
            </div>
        </div>
            <div class="row" style="width: 100%;margin-top: 2%">
                <div class="card" style="width: 100%;">
                    <div class="card-header">
                        Badges
                    </div>
                    <div class="card-body" style="font-size: 20px">
                        <img  height="64px" placement="bottom" style="cursor:pointer; margin: 5px;"  width="64px" src="https://res.cloudinary.com/logicrush/image/upload/v1584972401/badge/check.png">
                        <img  height="64px" placement="bottom" style="cursor:pointer; margin: 5px;"  width="64px" src="https://res.cloudinary.com/logicrush/image/upload/v1584972401/badge/check.png">
                        <img  height="64px" placement="bottom" style="cursor:pointer; margin: 5px;"  width="64px" src="https://res.cloudinary.com/logicrush/image/upload/v1584972401/badge/check.png">
                        <img  height="64px" placement="bottom" style="cursor:pointer; margin: 5px;"  width="64px" src="https://res.cloudinary.com/logicrush/image/upload/v1584972401/badge/check.png">
                    </div>
                </div>
            </div>
    </div>
    </div>
</div>
<% include templates/footer %>