
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Yelp Camp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="/images/technology.jpg">
                <div class="caption-full">
                    <h4 class="pull-right">$15/night</h4>
                    <h4><a>JOI</a></h4>
                    <p>jdfvhnsdkjfvncid d d d d ujjjjj j jjjjj jjjjjjj</p>
                    <p>
                        <em>Submitted By <strong>shahedmm</strong></em>
                    </p>
                    <!--The currentUser is setted up in app.js for all routes-->
                    <a class="btn btn-xs btn-warning" href="#">Edit</a>
                    <form id="delete-form" action="#" method="POST">
                        <button class="btn btn-xs btn-danger">Delete</button>
                    </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="#">Add New Comment</a>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <strong> shahed </strong>
                        <span class="pull-right">10 days ago</span>
                        <p>
                            aloo
                        </p>
                        <!--currentUser is defined in app.js-->

                        <a class="btn btn-xs btn-warning" href="#">
                            Edit
                        </a>
                        <form id="delete-form" action="#">
                            <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
