<% include templates/header.ejs %>
<div class="container">
<table class="table">
    <thead style="background-color: #bbbbbb">
    <tr>
        <th scope="col"></th>
        <th scope="col">Information</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Organization</th>
        <td>Jordan Olympiad In Informatics</td>
    </tr>
    <tr>
        <th scope="row">Role</th>
        <td>photographer</td>
    </tr>

    <tr>
        <th scope="row">Day</th>
        <td>September 20th 2020</td>
    </tr>
    <tr>
        <th scope="row">Time</th>
        <td>5:00pm - 7:00pm</td>
    </tr>
    <tr>
        <th scope="row">Place</th>
        <td>Princess Sumaya University for Technology</td>
    </tr>
    </tbody>
</table>
    <p>If you feel you are a good fit for the role:</p>
    <button class="btn btn-primary">Register As a Volunteer</button>
</div>

<style>
    .table{
        margin-top: 50px;
    }
</style>
<% include templates/footer %>