<% include templates/header2.ejs %>
<div class="container volunteer-head">
    <header class="jumbotron" style="height: 400px">
        <div class="container">
            <h1></h1>
            <p></p>
            <p>
            </p>
        </div>
    </header>

    <div class="col-lg-12">
        <h4>Available volunteering activities:</h4>
    </div>
    <div class="container">
        <div class="row" style="margin-top: 40px">
            <div class="col-4 text-center" >
                <div class="card" style="width: 18rem;height: 15rem!important;box-shadow: 0 0 45px 0 rgba(0,0,0,.25);margin-bottom: 250px">
                    <img class="card-img-top" src="https://jordan-cp.com/assets/img/home/jordan_oi.jpg" alt="Card image cap">
                    <div class="card-body" style="margin-bottom: 30px">
                        <h5 class="card-title">Jordanian Olympiad In Informatics</h5>
                        <p class="card-text">Role: photographer</p>
                        <a href="/volunteer/info" class="btn btn-primary">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-4 text-center" >
                <div class="card" style="width: 18rem;height: 15rem!important;box-shadow: 0 0 45px 0 rgba(0,0,0,.25);margin-bottom: 250px">
                    <img class="card-img-top" src="https://jordan-cp.com/assets/img/home/jordan_oi.jpg" alt="Card image cap">
                    <div class="card-body" style="margin-bottom: 30px">
                        <h5 class="card-title">Jordanian Olympiad In Informatics</h5>
                        <p class="card-text">Role: Organizer - Registration</p>
                        <a href="#" class="btn btn-primary">View More</a>
                    </div>
                </div>
            </div>
            <div class="col-4 text-center">
                <div class="card" style="width: 18rem;height: 15rem!important;box-shadow: 0 0 45px 0 rgba(0,0,0,.25);margin-bottom: 250px">
                    <img class="card-img-top" src="https://lh3.googleusercontent.com/proxy/uEfBntoxXYDo_09URE9CvjyNhmq7dAFdfwGS4iyhsp11wQ85sgwUOT_ZZ6vQ8AdPVyTdGuSdBEu6Ru1OqaiKgAp-cxgqqFBdWUND2xMWLlFq2bzS7macUaSoRtnMV0PPMJoJtg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Run Jordan Marathon - Dead Sea</h5>
                        <p class="card-text">Role: Water distribution</p>
                        <a href="#" class="btn btn-primary">View More</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<style>
    .jumbotron {
        background-image: url("https://www.chcpcic.org.uk/uploads/page/image/494/show_Volunteers_web.png");
        background-size: cover;
    }
    .volunteer-item{

        border-color: #c3c3c3;
        border-style: solid;
        border-width: 1px;
    }

</style>

<% include templates/footer %>