<!DOCTYPE html>
<html>
<head>
    <title>LinkJo</title>
    <link rel="stylesheet" href="/stylesheets/salih.css">
</head>
<body>
    <header>
        <div class="navbar">
            <img src="images/technology.jpg" id="logo" alt="logo">
            <nav>
                <ul>
                    <li><a href="events_main.html">Events</a></li>
                    <li><a href="account.html">Account</a></li>
                    <li><a href="forum.html">Forum</a></li>
                    <li><a href="call_for_volunteers.html">Call for Volunteers</a></li>
                    <li id="account_nav"><a href="account.html">Account</a></li>
                </ul>

            </nav>
        </div>
    </header>   