<!DOCTYPE html>
<html>
<head>
    <title>LinkJo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <div class="navbar">
            <img src="images/logo.png" id="logo" alt="logo">
            <nav>
                <ul>
                    <li><a href="events_main.html">Events</a></li>
                    <li><a href="account.html">Account</a></li>
                    <li><a href="forum.html">Forum</a></li>
                    <li><a href="call_for_volunteers.html">Call for Volunteers</a></li>
                    <li id="account_nav"><a href="account.html">Account</a></li>
                </ul>

            </nav>
        </div>
    </header>   