body {
    margin: 0;
    background: #F2EFE4;
    font-family: "Work Sans", "sans-serif";
    font-weight: 300;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #CB8C1D;
}

header:after {
    content: '';
    display: table;
    clear: both;
}


#logo {
    float: left;
    width: 75px;
    height: 100%;
    padding: 10px 0;
}

nav {
    float: left;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    /* float: left; */
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #000;
}

nav a:before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;
    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;


}

/* .event_image {
    float: none;
    height: auto;
    width: 75%;
    display: block;
     margin: auto;
}  */

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}